/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
  --neutral-100: #f2f2f2;
  --neutral-300: #D1D9DE;
  --neutral-500: #bad1de;
  --neutral-900: #21333d;
  --primary-100: #b1fbf5;
  --primary-300: #beeee6;
  --primary-500: #40dbcf;
  --primary-700: #29c4bb;
  --accent-100: #ffecc7;
  --accent-300: #ffda94;
  --accent-500: #e5bc6e;
  --accent-700: #fdb342;
  --secondary-100: #ffd0b7;
  --secondary-300: #ffbc99;
  --secondary-700: #ff7731;
  --secondary-500: #ff9a66;
  --secondary-900: #993E0F;
  --background: #d1d9de;

  --primary-font: "Rubik", sans-serif;


}

:root * {
  font-family: var(--primary-font);

  transition: all 0.2s ease-in-out;

  text-decoration: none;
}

.primary-font {
  font-family: var(--primary-font);
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.secondary-font {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.application-body {
  background: var(--background);
}

.dashboard-body {
  background: var(--background);
  display: grid;
  grid: 1fr / auto 1fr;
  gap: 1em;
}

.content-wrapper {
  grid-area: 1 / 2 / 2 / 5;
  padding: 2em;
  background: var(--neutral-100);
  border-radius: 10px;
  min-height: 90vh;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--neutral-900);
  /* background opacity */
  opacity: 0.8;

  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  position: absolute;
  z-index: 5555;
  bottom: 100%;
  left: 50%;
  margin-bottom: 4px;
  margin-left: -70px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.btn-with-icon i {
  font-size: 16px;
}