/* Calendar Container */
.simple-calendar {
  font-family: Arial, sans-serif;

}

/* Calendar Heading */
.calendar-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-title {
  font-size: 24px;
}

nav {
  display: flex;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

nav a:hover {
  background-color: #f0f0f0;
}

/* Calendar Table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.table th {
  background-color: var(--secondary-700);
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.day{
  height: 300px;
  background-color: white;
}


.today {
  background-color:var(--secondary-500);
  color: white;

}

.drop-area{
  height: 100px;
  width: 200px;
  background-color:transparent;
}

.delete-area{
  height: 100px;
  width: 200px;
  background-color:red;
}

.recipe-list{
  outline: 1px solid var(--secondary-500);
  cursor: pointer;
  font-size: large;
  font-weight: 700;
}

.meal-plan-item{
  cursor: pointer;
}