.recipe-search-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input-container {
  width: 75%;
  margin-top: 5em;
}

.recipe-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.recipe-actions {
  display: flex;
  gap: 8px;
  align-items: center;
}

.recipe-actions .recipe-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 24px;
  height: 24px;
  border: none;
  background: var(--secondary-700);
  color: white;
  cursor: pointer;
}

.recipe-actions .recipe-tag button {
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  font-size: 24px;
  margin-top: 6px;
}

.recipe-item {
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
  width: 17%;
  min-width: 250px;
  padding-bottom: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px 0px 10px rgba(0, 0, 0, 0.2);
}

.recipe-link {
  text-decoration: none;
}

.recipe-list-img {
  width: 100%;
  aspect-ratio: 1/1;
}

.recipe-item-info {
  padding: 0 12px;
  text-transform: capitalize;
}

.recipe-item-info h3 {
  margin: 10px 0;
  color: var(--neutral-900);
  letter-spacing: 1px;
}

.recipe-item-info span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.recipe-item-info span p {
  border: 2px solid var(--secondary-700);
  color: var(--secondary-700);
  padding: 4px 8px;
  border-radius: 8px;
  margin: 3px 0 0 0;
  font-size: 14px;
}

.button {
  background: var(--secondary-700);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
